@import url('https://fonts.googleapis.com/css?family=VT323');
body {
    font-family: 'VT323', monospace;
}
h1 {
    text-align: center;
}
.controls-row {
    display: flex;
    justify-content: center;
}
.controls-row button {
    background-color: transparent;
    font-family: 'VT323', monospace;
    border: none;
    box-shadow: 0px 0px 0px blue;
    transition: box-shadow 0.5s ease;
}
.controls-row button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 0px blue;
}
#snake-game {
    border: 1px solid lightgray;
    display: block;
    margin: 20px auto;
}